## Scorecard writer
Writes Pandas Dataframes (generated by another script) into an Microsoft SQL Server Database.

In [2]:
import sqlalchemy as sqla
import pandas as pd
import pyodbc # not included in anaconda: pip install pyodbc
import os
import scorecard_reader as sr
from sql_reader import get_table_courses

In [3]:
engine = sqla.create_engine(
    "mssql+pyodbc://pyconnect:123456@DESKTOP-M98MIFO\SQLEXPRESS/DiscGolf"
    "?driver=ODBC+Driver+17+for+SQL+Server")

In [4]:
pardata = sr.create_df_pardata()

C:\Users\Julian Brink\discy\discy\scorecard_reader.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pardata.drop_duplicates(subset=[pardata.columns[1],

In [5]:
pardata

,CourseName,LayoutName,Oldest,Newest,HoleCount,Gesamt,Hole1,Hole2,Hole3,Hole4,...,Hole13,Hole14,Hole15,Hole16,Hole17,Hole18,Hole19,Hole20,Hole21,Hole22
0,Beckum Phoenix Park,Main,2017-03-24 12:34,2017-03-24 12:34,12,36,3,3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bochum Volkspark Langendreer,NORMAL,2019-08-03 12:58,2021-03-24 16:14,10,32,3,4,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Dortmund Revierpark Wischlingen,Main - Altes Layout,2017-05-14 10:10,2017-05-14 10:10,18,54,3,3,3,3,...,3.0,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN
3,Dortmund Revierpark Wischlingen,Standard Layout,2017-01-28 11:46,2017-01-28 11:46,18,54,3,3,3,3,...,3.0,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN
4,Dortmund Revierpark Wischlingen,Standard Layout,2017-07-17 17:05,2020-07-26 11:46,18,55,3,4,3,3,...,3.0,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN
5,Fröndenberg,Main,2019-06-22 19:21,2019-06-22 19:21,9,27,3,3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Fröndenberg,Main,2019-08-17 11:39,2019-08-17 12:40,9,28,3,3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Herne Gysenbergpark,Main,2017-07-24 17:53,2018-12-23 11:23,9,27,3,3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Lünen Alte Ziegelei,Main,2020-11-08 14:33,2020-11-08 14:33,12,37,3,3,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Lünen Seepark,Main,2020-07-28 14:52,2020-07-28 14:52,12,37,3,4,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ODK Kellenhusen,Main,2019-05-29 10:44,2019-10-15 09:47,22,67,3,3,3,3,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
11,Ostsee Discgolf Kellenhusen,Main,2017-06-11 10:33,2020-10-24 10:59,22,67,3,3,3,3,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
12,Recklinghausen Südpark,Main,2020-09-19 10:38,2020-09-19 12:00,12,37,3,4,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Rennbahnpark Neuss,New 18 Hole,2016-05-26 15:57,2016-05-26 15:57,18,54,3,3,3,3,...,3.0,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN
14,Rüthen Disc Golf Park,Standard,2017-07-23 11:36,2020-08-02 11:56,12,36,3,3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Turnierkurs Kellenhusen,Main,2020-10-15 14:14,2020-10-15 14:14,18,56,3,3,3,3,...,3.0,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN

In [6]:
course_df_from_db = get_table_courses()

In [7]:
course_df_from_db

          course_name
course_id
1               alpha
2                beta
3               gamma

In [9]:
course_df_from_pardata = pardata.loc[:,['CourseName']].rename(columns={'CourseName':'course_name'})

In [10]:
course_df_from_pardata

                        course_name
0               Beckum Phoenix Park
1      Bochum Volkspark Langendreer
2   Dortmund Revierpark Wischlingen
3   Dortmund Revierpark Wischlingen
4   Dortmund Revierpark Wischlingen
5                       Fröndenberg
6                       Fröndenberg
7               Herne Gysenbergpark
8               Lünen Alte Ziegelei
9                     Lünen Seepark
10                  ODK Kellenhusen
11      Ostsee Discgolf Kellenhusen
12           Recklinghausen Südpark
13               Rennbahnpark Neuss
14            Rüthen Disc Golf Park
15          Turnierkurs Kellenhusen

In [12]:
course_df_from_pardata.join(course_df_from_db, how='inner')

ValueError: columns overlap but no suffix specified: Index(['course_name'], dtype='object')